# makefiles

*CMakeCache*
*CMakeFiles*
*Makefile*
*cmake

# temp files
*.a
*.so
test.out
*/cov
*/lcov.info
*/lcov2.info
*.gcno
*.gcda

# testing
test/generated_main.cpp
test/test
leak.log
leak.log.core.*
*/core
gdb.out
test/testCppUtils
test/testCppUtils.out

# doxygen
html/*

# standalone binaries
other/client
other/server
other/sslclient
other/sslserver

# certificates to ssl testing
other/server.*

# kdevelop files
.kdev4/
*.kdev4
*.kdev_include_paths
